.card {
	height: 75px;
	width: 50px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
}

.hidden {
	display: none;
}

.whiteborder {
	border: 1px solid white;
}

td {
	width: 50px;
	height: 75px;
	border: 1px solid black;
}

table {
	border-spacing: 5px;
}

.greenBorder {
	border: 2px solid green;
}
